*{
    padding: 10;
    margin: 10;
}


body{
    background-color: rgb(243, 163, 44);
}
.container{
    width: 1200px;
    margin: 0 auto;

}

.title {
    margin-top: 10px;
    margin-left: 0px;
    color: rgb(6, 6, 6);
    size: 60px;
    font-family: 'Roboto', sans-serif;
}
.nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    text-decoration: none;
    padding: 10px;
    background-color:  rgb(243, 163, 44);
    color: rgb(7, 7, 7);
    font-size: 20px;
    font-weight: bold;
    display: block;
    border-radius: 10px;
    border: 1px solid transparent;

    display: block;
}
 .nav-link:hover{
    background-color: #fff;
    color:   rgb(243, 163, 44);
 }

 .item {
    width: 140px;
    border: 1px solid rgb(7, 7, 7);
    border-radius: 10px;
    margin-bottom: 50px;
   
 }
 .item-pic {
    width: 100%;
    border-radius: 10px 10px 0 0;
 }

.item-link {
    display: block;
    padding: 10px;
    background-color: rgb(216, 203, 184);

    border-radius: 0 0 10px 10px;
    
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: black;
   
}

.item-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
h2 {
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.desc {
    
    margin-top: -20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(5, 5, 5);
}

.logo{
    border-radius: 10px 10px 10px 10px;

}

